* {
    margin:0;
    padding:0
    }
    
    html,body {
    color:#000000;
    background-color:#000;
    font-family:Verdana,sans-serif;
    overflow-x:hidden ;
   

    }

    a {
        text-decoration: none;
      }
      
    
    button:hover {
    background-color:#0000
    }
    
    .window_menu
    {
        border: none !important;

height: 300px;
width: 100%;
    }
   
    .post

    {
      position:relative;
      width:20%;
      height:0%;
      z-index:200;
      padding:0.5%;
      background:rgba(62, 62, 62, 0.371);
      border-radius:5%;
      width:calc(20% - 0%);
      margin:2%;
    }

    .post_title {

    font-weight:900;
    color:#fff;
    font-size: 17px;
    }

    .post_text {
    
   
   
    line-height:1.4;
    font-weight:400;
font-size: 16px;
    color:#fff;
    padding-top:2%;
    padding-bottom:2%
    }


  
    .read_text
    {
        font-size: 19px;
    }
    .post_date
    {
        font-size: 19px;
       
    }
    .post_display,.post_display_configuration {

    position:relative;
    display:flex;
    flex-wrap:wrap;
    overflow-y:hidden;
    overflow-x:hidden;
    gap:0
    }
    
    @keyframes pop-in {
    0% {
    opacity:0;
    transform:scale(0.1)
    }
    
    100% {
    opacity:1;
    transform:scale(1)
    }
    }
    
    .post_date {
    font-weight:400;
    font-size:15px;
    text-align:right;
    left:-10%;
    color: #ffffff;
    }
    
    .read_text {
    position:relative;
    font-size: 1em !important;
    font-weight:500;
    color:#1675c8
    }
    
    .read_text:hover {
    color:#185c98
    }
    
    .images {
    position:relative;
    width:100%;
    padding-bottom:2%
    }
    
    .images_configuration {
    position:relative;
    width:90%;
    padding-bottom:2%
    }
    
    #form_box {
    
    position:relative;
    width:100% ;
    text-align: center;
 
    }

   
    
    .post_image {
    display:none!important
    }
    
    .id_post {
    width:100px!important
    }
    
    h3 {
    padding-top:0.5%;
    padding-bottom:0.5%;
    color: #ffffff;
    }
    
  
    input[type=file] {
    position:relative;
    transform:translateX(-50%);
    left:50%;
    width:30%;
    padding:5px;
    margin-top:1%;
    margin-bottom:.5%;
    display:flex;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
    }

  
    input[type=text],textarea{
    position:relative;
    transform:translateX(-50%);
    left:50%;
    width:30%;
    color: #000;
    font-size: 1rem;
    padding:5px 10px;
    margin:5px;
    margin-top:0%;
    display:flex;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
    }



    input[type=submit] {
        
     
    position:relative;
    background-color:#4caf4f00;
    color:#fff;
    padding:5px;
    border:1px solid #ccc;
    border-radius:4px
    }
    
    input[type=submit]:hover {
    background-color:#000000b8
    }
    @media(max-width:1100px) {

        .post_title {


            font-size: 16px;
            }
        
            .post_text {
        
      
        font-size: 15px;
       
            }
            .images {
                width:100%;
            }
         
            .window_menu
            {
                
        height: 300px;
  
            }
    }

    @media(max-width:850px) {
        .post
        {
            
          position:relative;
          width:90%;
          border-radius:5%;
          margin:0%;
          transform:translateX(-50%);
          left:50%;
          padding: 2%;
          background:rgba(62, 62, 62, 0.371);
          margin-top:3%;
          margin-bottom:2%;
        }
        
      
    input[type=file] {
        width:50%;
        }
        
        input[type=text],textarea {
  
        width:70%;
 
        }
        
        input[type=submit] {
            width:20%;
        }
        
      
        .post_display {
        margin-top:1%;
        position:relative;
        transform:translateX(-50%);
        left:50%;
        display:contents
        }
        
        .images {
            width:40%;
        }
     
     
        }

        @media(max-width:600px) {
            .images {
                width:100%;
              
                }
        }
    
    @media(max-width:350px) {
    #form_box {
    position:relative;
    left:0;
    
    }
    .images {
        width:100%;
      
        }
    .id_post {
    width:90%!important
    }
    
    input[type=file] {
        width:50%;
        }
        
        input[type=text],.main_text {
  
        width:70%;
   
        }
        
        input[type=submit] {
            width:40%;
        }
        



    }
   