* {
    margin:0;
    padding:0
    }
    
    html,body {
    color:#fff;
    background-color:#000000;
   
font-family: Verdana, sans-serif ;
    overflow-x:hidden;
 
    font-weight:300
    }
    .post_title
    {
      
font-size: 18px;
font-weight: 900;
color:rgb(255, 255, 255);
    }

    .post_text
    {
        position: relative;
        line-height: 1.4;
        font-weight: 400;
        font-size: 17px;
        color: #ffffff;
        padding-top: 2%;
        padding-bottom: 2%;


   
   
    }
 .post
 {

width:20%;

margin:3%;
padding:0.5%;
background:rgba(62, 62, 62, 0.371);
border-radius: 5%;
z-index: 100;
 }
  
    .post_date
{
    
    font-weight: 400;
font-size: 15px;
text-align: right;
left: -10%;

}

.read
{
    color: #004684;
}
.read:hover
{
    color: #185c98;
}
    #post_configuration_box{
    transform:translateX(-40%);
    left:50%;
    width:40%;
    padding:1%;

    position:absolute;
    background-color: #cccccc00;
    z-index: 100;
    }

.post_display
{

display: flex;
   

}
    .images {
    position:relative;
    width:100%;
    padding-bottom: 2%;
    }

    .images_configuration {
        position:relative;
        width:90%;
        padding-bottom: 2%;
        }
    
    #form_box {
    position:fixed ;
    left:2%
    }
    
    .post_image {
    display:none!important;
    }
    
    .id_post {
    width:100px!important
    }
    
    h3 {
    padding-top:2%;
    padding-bottom:2%
    }
    
    input[type=file] {
    position:relative;
    width:220px;
    padding:5px;
    margin-top:1%;
    margin-bottom:.5%;
    display:flex;
  
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
    }
    
    input[type=text],.main_text {
        position:relative;
    width:300px;
    padding:5px 10px;
    margin:5px;
    margin-top:-.5%;
    display:flex;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
    }
    
    input[type=submit] {
        position:relative;
    background-color:#4caf4f00;
    color:#fff;
    padding:5px;
    border:1px solid #ccc;
    border-radius:4px
    }
    
    input[type=submit]:hover {
    background-color:#000000b8
    }
    
    @media(max-width:350px) {
    #form_box {
    position:relative;
    left:0
    }
    
    .id_post {
    width:90%!important
    }
    
    input[type=file] {
    width:90%
    }
    
    input[type=text],.main_text {
    width:90%
    }
    }
    
    @media(max-width:1100px) {
        .post_display
        {
        
        position: relative;
            transform:translateX(-50%);
            left:50%;
            display:contents;
        
        }

        .images {
          
            width:60%;
            position: relative;
            transform:translateX(-50%);
            left:50%;
            }
        .post
        {
       position: relative;
       width:80%;
       margin:3%;
       transform:translateX(-50%);
       left:50%;
       padding:0.5%;
    
       
        }
         
    #post_configuration_box{
        transform:translateX(-50%);
        left:50%;
        width:80%;
        padding:1%;
        position:relative; 
        }

    #form_box {
        position:relative;
     
        }
    }
    
    @media(max-width:400px) {
    #post_display {
    font-size:17px;
  
    }
    .post_title
    {
      
font-size: 17px;
padding: 1%;
font-weight:600
    }
    .post_text
    {
        position: relative;
        line-height: 1.4;
        font-weight: 100;
        font-size: 14px;
 
   
    }
    .images {
          
        width:100%;
    
        }
    }
    
    @media(max-width:250px) {
    #post_display {
    font-size:17px;
    }
    }