
*
{ 
margin: 0;
padding: 0;
}

a {
  color: #ffffff8a;
  text-decoration: none;
}

html,
body {
 color: #ffffff;
background-color: rgb(30, 30, 30);
font-family: 'Courier New', monospace;
overflow-x: hidden;
font-weight:300;
}


#head
{ 
position: absolute ;

 width: 100%;
transform: translateX(-50%);
left: 50%;
 top: 20%;
 padding-bottom: 20px ;
padding: 0%;
background: rgba(233, 0, 0, 0);
z-index: 1;
}
.textHead
{
    position: absolute ;
    transform: translateX(-50%);
    left: 50%;
    font-size: 40px;

}
#propertyContent
{
 width: 100%;

 margin-bottom: 2%;
 margin-top: 2%;
 overflow: hidden;
}


.property
{
position: absolute;
width:0%;
height: 200px;
transition: transform 3s ease, opacity 0.3s ease;
}


#head::before,
#head::after
{
content: "";
position: fixed;
border-radius: inherit;
}

#head::after
{
inset: -1rem;
background: rgba(0, 0, 0, 0);
transform: translateZ(-50px);
}
pre
{
font-size: 20px;
font-weight: bold;
width: 30%;
transform: translateX(-50%);
left: 50%;
position: relative;
color: #696969;
background: hsl(0, 0%, 65%);
padding: 15px;
margin-bottom: 2%;
margin-top: 2%;
margin-left: 2%;
margin-right: 2%;
border-radius: 1rem;

z-index: 998;
}




/* gradient thingy */
@media screen and (max-width: 1150px) {
     pre
    {
        position: relative;
        width: 50%;
        text-align: center;
        margin: 0px 0;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .textHead
    {
        margin-top: -50px;
        
    }
    #head
    {
        position: relative;

        width: 97%;
        text-align: center;
        margin: 0px 0;
        margin-bottom: 6.5%;
        margin-top: 6.5%;
    }


    #head::after
{   
 
background: rgba(0, 0, 0, 0);
}
}
@media screen and (max-width: 700px) {

    .textHead
{
    margin-top: -50px;
        font-size: 20px;
}
    pre
    {
        
        font-size: 15px;
        width: 50%;
    
    }
}
@media screen and (max-width: 500px) {

    /* pre
    {
        font-size: 12px;
        width: 50%;
        background: hsla(221, 44%, 7%, 0);
        margin-bottom: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;

        
    } */
    pre::after
{
    background: hsla(221, 44%, 7%, 0);
}
#propertyContent
{    
margin-bottom:1px;
margin-top: 1px;   
}
}
@media screen and (max-width: 300px) {

    pre
    {
        font-size: 10px;
        width: 50%;
    }
}